<!DOCTYPE html>
<!-- xmlns is abbreviation for xml namespace. i.e. using namespace th wherever we use th: -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple Web Application</title>
</head>
<body>
<h1> Authors List </h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Book List</th>
    </tr>
    <!-- reference the book in the list of books added from the model-->
    <tr th:each="author: ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">John</td>
        <td th:text="${author.lastName}">Doe</td>
        <td th:text="${author.books}">(List of books)</td>
    </tr>
</table>


</body>
</html>